<div>
  <p>Last updated: Nov 2013</p>
  <p>
    This page was made in 2013 by Justin Carr.</p>
  <p>Thank you to all of the generous people who provide and maintain
  the free and open-source resouces used to make this page:</p>
  <ul>
    <li><a href="https://www.heroku.com/">Heroku</a></li>   
    <li><a href="http://clojure.org/">Clojure</a>
      <ul>
        <li><a href="http://leiningen.org/">Leiningen</a></li>
        <li><a href="https://github.com/weavejester/compojure">Compojure</a></li>
        <li><a href="https://github.com/cgrand/enlive">Enlive</a></li>        
        <li><a href="https://github.com/weavejester/hiccup">Hiccup</a></li>        
      </ul>
    </li>
    <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
    <li><a href="http://bootswatch.com/">Bootswatch</a></li>
  </ul>
</div>
