<div>
  <h1>About</h1>
  <hr />
  <h3>Justin in a Nutshell</h3>
  <ul>
    <li>Grew up in Vancouver, WA and loves to tease his
    Portland, OR friends about it.</li>
    <li>Earned a BA in Philosophy from Willamette University and a
    MS in Computer Science from Oregon State Univeristy.</li>
    <li>Enjoys bouldering, videogames, biking and <a class="disabled" href="#">modifying Nerf blasters</a></li>
    <li>Despite the best efforts of friends and family, he will only
    drink coffee once it's been sweetened to death.</li>
  </ul>
  <h3>About This Website</h3>
  <p>Last updated: Dec 2013</p>
  <p>
    This page was made by Justin Carr in 2013 and is available on <a href="https://github.com/jhcarr/jsite">Github</a>.</p>
</div>
