<div>
  <h1>Puppet Labs: Dujour</h1>
  <hr />
  <p>
    Dujour is a Clojure web application that uses Compojure to combine
    two "sub apps": a version-checking application for Puppet DB
    and a product-telemetry reporting tool. The version-checking
    function listens for Puppet DB instances in the wild and responds to
    requests for updates. These requests are logged to a database,
    which may be queried by the reporting tool. The reporting tool
    includes a dashboard of popular queries, rendered in d3.js. This 
    project was assigned to Puppet Labs 2013 summer interns.
  </p>
  <h3>Collaborators</h3>
  <dl class="dl-horizontal">
    <dt>Staff Mentors</dt>
    <dd><a href="https://github.com/grimradical">Deepak Giridharagopal</a></dd>
    <dd><a href="https://github.com/nicklewis">Nick Lewis</a></dd>
    <dt>Collaborator</dt>
    <dd><a href="https://github.com/ajroetker">Andrew Roetker</a></dd>
  </dl>
  <p>
    <strong>Code Snapshot:</strong>
    { <a href="https://github.com/jhcarr/dujour_snapshot">Github</a> }
  </p>
</div>
