<div>
  <div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>Welcome to Justin Carr's personal website.</p>
  </div>
  <h3>Links</h3>
  <dl class="dl-horizontal">
    <dt>Things I do</dt>
    <dd><a href="http://informativeaccidents.blogspot.com/">Personal Blog</a></dd>
    <dd><a href="http://threejs.org/">Teach myself Three.js</a></dd>
    <dt>Things I read</dt>
    <dd><a href="http://spectrum.ieee.org/blog/automaton">IEEE Automaton (formerly Botjunkie)</a></dd>
    <dd><a href="http://infosthetics.com/">Infosthetics</a></dd>
    <dd><a href="http://www.amazon.com/G%C3%B6del-Escher-Bach-Eternal-Golden/dp/0465026567">Godel, Escher, Bach: An Eternal Golden Braid</a></dd>
    <dd><a href="http://www.amazon.com/Philosophical-Investigations-Edition-Ludwig-Wittgenstein/dp/0024288101">Philosophical Investigations</a></dd>
  </dl>
</div>
