<!DOCTYPE html>
<html>
  <head>
    <title>Justin Carr</title>
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" 
          rel="stylesheet" 
          media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and
    media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    <link href="img/favicon.ico"
          type="image/ico" 
          rel="icon" />
  </head>
  <body>

    <nav class="navbar navbar-inverse" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">J Carr</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling
      -->
      <div class="collapse navbar-collapse"
           id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active" id="home-tab"><a href="/">Home</a></li>
          <li id="resume-tab"><a href="/resume">Resume</a></li>
          <li id="contact-tab"><a href="/contact">Contact</a></li>
          <li id="projects-tab" class="dropdown">
            <a href="#" class="dropdown-toggle"
               data-toggle="dropdown">Projects <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/3dsp">Masters Project</a></li>
              <li><a href="https://github.com/jhcarr/Relator">Relator</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Puppet Labs</li>
              <li><a href="/dujour">Dujour</a></li>
              <li><a href="https://github.com/jhcarr/intern-design-patterns/tree/master/State">State Design Pattern</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Other Projects</li>
              <li><a href="#">Nerf Mods</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li id="about-tab"><a href="/about">About</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <!-- Main Container -->
    <div class="container" id="main"></div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual
    files as needed -->
    <script src="js/bootstrap.js"></script>
  </body>
</html>
