<div>
  <h1>Resume Summary</h1>
  <hr />
  <dl class="dl-horizontal">
    <dt>Experience</dt>
    <dd>Senior Consultant - ExpensePath  (2016 - Present)</dd>
    <dd>Systems Development Engineer - Oregon State
    University, Center for Applied Systems and Software (2014 - 2016)</dd>
    <dd>Software Development Intern - ExpensePath (2014)</dd>
    <dd>Software Development Intern - Puppet Labs (2013)</dd>
    <dd>Student Intern - Business Solutions Group (2011 - 2013)</dd>
    <dd>3D Visual Assets - OSU HealthTrack medical adherence project (2011 - 2012)</dd>
    <dt>Education</dt>
    <dd>Master of Science in Computer Science - Oregon
    State University (2010 - 2013)</dd>
    <dd>Bachelor of Arts in Philosophy - Willamette
    University (2006 - 2010)</dd>
    <dt>Memberships</dt>
    <dd>Association for Computing Machinery (2014)</dd>
    <dd>Secretary - Oregon State University iOS Devs Club (2011 - 2013)</dd>
    <dd>SIGGRAPH Student Volunteer (2010)</dd>
  </dl>
  <p>{ <a href="http://www.linkedin.com/pub/justin-carr/63/7ab/966">LinkedIn
  Profile</a> }</p>
</div>
