<div>
  <h1>Resume Summary</h1>
  <hr />
  <dl class="dl-horizontal">
    <dt>Education</dt>
    <dd>2010-2013: Master of Science in Computer Science - Oregon
    State University</dd>
    <dd>2006-2010: Bachelor of Arts in Philosophy - Willamette
    University</dd>
    <dt>Experience</dt>
    <dd>2013: Software Development Intern - Puppet Labs</dd>
    <dd>2011-2013: Student Intern - Business Solutions Group</dd>
    <dd>2011-2012: 3D Visual Assets - OSU HealthTrack medical adherence project</dd>
    <dt>Memberships</dt>
    <dd>2011-2013: Secretary - Oregon State University iOS Devs Club</dd>
    <dd>2010: SIGGRAPH Student Volunteer</dd>
  </dl>
  <p>{ <a href="downloads/Resume_F2013.pdf">Full Resume</a>
  | <a href="http://www.linkedin.com/pub/justin-carr/63/7ab/966">LinkedIn
  Profile</a> }</p>
</div>
